@import 'mdb/mdb';

body {
  background-color: $background-color;
}

footer {
  color: $dark;
  background-color: $background-color;
}

.page-description {
  color: $text-color;
}

.list-group-item {
  border: 0px;
}

.card, .list-group-item {
  background-color: $background-color;
}

.news {
  a {
    color: $theme-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

.project-card {
  .card-body {
    border-top: 1px solid rgba(60, 72, 88, 0.2);
  }
}
